[Unit]
Description=Wifinet Wifi Crawler
ConditionPathExists=/opt/wifinet/
After=mongodb.service
Requires=mongodb.service

[Service]
WorkingDirectory=/opt/wifinet/
ExecStart=/usr/bin/python3 -m sniffer --iface %I
Restart=on-failure

