[Unit]
Description=Wifinet Wifi Crawler
ConditionPathExists=/opt/wifinet/

[Service]
StandardOutput=file:/home/pi/mydaemon.log
WorkingDirectory=/opt/wifinet/
ExecStart=/usr/bin/python3 -m wifi --iface %I
Restart=on-failure

[Install]
WantedBy=multi-user.target